{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Informations</h1>
        <h5 class="header col s12 light grey-text">Αυτή η υπηρεσία είναι για να μπορεί ο owner του Discord του Golden Roleplay καθώς και όλα τα staff να μπορούν να βλέπουν το ιστορικό υποστήριξης από τα staff προς εσάς!</h5>
        <br>
        <div class="row center">
            <a href="https://modmail-goldenroleplay-logview.herokuapp.com/" class="btn waves-effect my-button">Πίσω στην αρχική</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
